# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
.venv/
venv/
env/
*.egg-info/
dist/
build/

# LaTeX
*.aux
*.log
*.out
*.toc
*.synctex.gz
output.pdf

# Sistema
.DS_Store
Thumbs.db
